Source: td-system-tools
Section: utils
Priority: optional
Maintainer: Thomas Dreibholz <thomas.dreibholz@gmail.com>
Homepage: https://www.nntb.no/~dreibh/system-tools/
Vcs-Git: https://github.com/dreibh/system-tools.git
Vcs-Browser: https://github.com/dreibh/system-tools
Build-Depends: cmake (>= 3.5),
               debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: td-system-info
Architecture: all
Depends: figlet | toilet,
         gettext-base,
         mbuffer | buffer,
         td-get-system-info (>= ${source:Version}),
         td-print-utf8 (>= ${source:Version}),
         ${misc:Depends}
Recommends: subnetcalc
Description: Print basic system information and banners
 This program displays basic status information about the system:
 hostname, uptime, CPU, memory statistics, disk space statistics,
 SSH public key hashes, and networking information. Furthermore,
 it can be configured to show one or more banners (for example,
 a project name).
 System-Info can be configured to be automatically run when logging
 in, providing the user an up-to-date overview of the system.

Package: td-system-maintenance
Architecture: all
Depends: apt-show-versions,
         gettext-base,
         sudo,
         ${misc:Depends}
Recommends: td-system-info
Description: Perform basic system maintenance
 This program runs basic system maintenance tasks:
 trying to repair broken package management, updating the package
 management databases, installing all available updates, checking
 for old kernels and removing them, trim SSD or unmap unused storage.

Package: td-reset-machine-id
Architecture: all
Depends: gettext-base,
         sudo,
         ${misc:Depends}
Recommends: td-system-info,
            td-system-maintenance
Description: Reset machine identity state
 This program helps to reset the machine identity state:
 reset machine ID, change hostname, replace SSH keys, suggest hardened
 SSH client and server settings.

Package: td-fingerprint-ssh-keys
Architecture: all
Depends: gettext-base,
         ${misc:Depends}
Recommends: td-system-info
Description: Print SSH key fingerprints
 This program prints the SSH key fingerprints of the local machine
 in different formats: SSH hash, DNS SSHFP RR.

Package: td-system-configure-grub
Architecture: all
Depends: gettext-base,
         ${misc:Depends}
Recommends: grub2-common,
            td-system-maintenance
Description: Helper tool to adjust GRUB configuration
 This program adjusts a GRUB configuration file by applying a configuration
 from a template, and merging the existing configurations settings with
 additional customisations. It can for example be used to set a custom
 screen resolution (GRUB_GFXMODE option) or startup tune (GRUB_INIT_TUNE
 option).
 Warning: This program is meant to be used by expert users! Do not modify
 a working GRUB configuration without knowing how to boot the system from
 a rescue media to fix a broken configuration!

Package: td-get-system-info
Architecture: any
Depends: procps,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Obtain basic system information
 This small program obtains basic status information about the system:
 hostname, uptime, CPU, memory statistics, and networking information.
 The output is printed in machine-readable form, which can be used
 with evaluation in shell scripts for further processing.

Package: td-print-utf8
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Print UTF-8 strings and obtain size/length/width information
 print-utf8 is a simple program to print UTF-8 strings in the console with
 options for indentation, centering, separator as well as size/length/width
 information.

Package: td-text-block
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Apply modifications to text
 text-block reads text from standard input or given file, and writes it to
 standard output or a given file. On the text, various modifications can be
 applied, according to the operation mode.

Package: td-x509
Architecture: any
Depends: gettext-base,
         gnutls-bin,
         libnss3-tools,
         openssl,
         td-text-block,
         ${misc:Depends},
         ${shlibs:Depends}
Description: X.509 certificate handling tools
 This package contains four simple tools:
 view-certificate displays an X.509 certificate and its hierarchy.
 check-certificate verifies an X.509 certificate using a CA certificate
 and optionally a revocation list.
 extract-pem extracts a PEM file.
 test-tls-connection tests a TCP TLS connection to a remote endpoint.

Package: td-misc
Architecture: any
Depends: gettext-base,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: td-print-utf8
Description: Miscellaneous tools
 This package contains two simple tools:
 try-hard runs a command and retries for a given number of times in case
 of error, with a delay between the trials.
 random-sleep waits for a random time, selected from a given interval, with
 support for fractional seconds.

Package: td-system-tools
Architecture: all
Depends: td-fingerprint-ssh-keys (>= ${source:Version}),
         td-misc (>= ${source:Version}),
         td-reset-machine-id  (>= ${source:Version}),
         td-system-info (>= ${source:Version}),
         td-system-maintenance (>= ${source:Version}),
         td-text-block (>= ${source:Version}),
         td-x509 (>= ${source:Version}),
         ${misc:Depends}
Recommends: td-system-configure-grub
Description: Metapackage for system information and maintenance tools
 This package is a metapackage for the system information and maintenance
 tools.
