Source: td-system-tools
Section: utils
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: https://www.uni-due.de/~be0001/system-tools/
Build-Depends: cmake,
               debhelper (>= 9)
Standards-Version: 4.6.1
Rules-Requires-Root: no

Package: td-system-info
Architecture: all
Depends: ${misc:Depends}
Breaks: nornet-management (<<1.5.3~alpha1.0)
Replaces: nornet-management (<<1.5.3~alpha1.0)
Recommends: iputils-ping,
            iputils-tracepath,
            subnetcalc
Suggests: banner,
          figlet,
          toilet
Description: Print basic system information and banners
 This program displays basic status information about the system:
 hostname, uptime, CPU, memory statistics, disk space statistics,
 SSH public key hashes, and networking information. Furthermore,
 it can be configured to show one or more banners (for example,
 a project name).
 System-Info can be configured to be automatically run when logging
 in, providing the user an up-to-date overview of the system.

Package: td-system-maintenance
Architecture: all
Depends: apt-show-versions,
         ${misc:Depends}
Breaks: nornet-management (<<1.5.3~alpha1.0)
Replaces: nornet-management (<<1.5.3~alpha1.0)
Recommends: td-system-info
Description: Perform basic system maintenance
 This program runs basic system maintenance tasks:
 trying to repair broken package management, updating the package
 management databases, installing all available updates, checking
 for old kernels and removing them, trim SSD or unmap unused storage.

Package: td-system-configure-grub
Architecture: all
Depends: ${misc:Depends}
Recommends: grub2-common,
            td-system-maintenance
Description: Helper tool to adjust GRUB configuration
 This program adjusts a GRUB configuration file by applying a configuration
 from a template, and merging the existing configurations settings with
 additional customisations. It can for example be used to set a custom
 screen resolution (GRUB_GFXMODE option) or startup tune (GRUB_INIT_TUNE
 option).
 Warning: This program is meant to be used by expert users! Do not modify
 a working GRUB configuration without knowing how to boot the system from
 a rescue media to fix a broken configuration!

Package: td-system-tools
Architecture: all
Depends: td-system-info,
         td-system-maintenance,
         ${misc:Depends}
Recommends: td-system-configure-grub
Description: Metapackage for system information and maintenance tools
 This package is a metapackage for the system information and maintenance
 tools.
